img {
  width: 200px;
  height: 200px;

}

.popup {
  font-size: 20px;
  padding: 20px;
  display: grid;
  gap: 15px;
  grid-template-rows: 1fr 1fr 4fr 1fr;
}

.avatar {
  margin-top: 5%;
  display: grid;
  position: relative;
  width: 50px;
  left: 50%;
  gap: 15px;

}

.avatarpic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.plus {
  height: 50px;
  width: 50px;
  position: relative;
  left: 53%;
  border-radius: 65%;
  padding-left: 6px;
  border: 2px solid black;
}

.avatarname {
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.single {
  margin: 25px;
  padding: 25px;
  border-radius: 11%;
  box-shadow: 0px 0px 5px grey;
}